{% extends 'base.html' %}
{% load widget_tweaks%}
{% block extra_css %}
<style type="text/css">
    .form-control[readonly] {
    background-color: white;
    opacity: 1;
}
.sec-hotels-view-detail input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
}
label.required::after {
    content: ' *';
    color: red;
}
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
{% endblock %}
{% block content %}
  <main>
    <div class="sec sec-hotels-view-detail">
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- <h4>Booking Details</h4> -->
              <form action="{% url 'payments:change-credit-card' plan_obj.id %}" method="post" id="payment-form">
                {% csrf_token %}
                <h6>Plan name: {{plan_obj.plans.plan_type}}</h6>
                <input type="hidden" name="subscription_id" value="{{plan_obj.id}}">
                <div class="room-rate-form">
                    <div class="form-feild">
                        <label for="card-element">
                        Enter card detail:
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <div class="pull-left">
                      <a href="{% url 'authentication:dashboard' %}" class="btn btn-danger">Cancel</a>
                      <button type="submit" class="btn btn-primary">Change Credit Card Info</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </main>
{% endblock %}
{% block extra_js %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
        // Create a Stripe client.
        var stripe = Stripe('{{key}}');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
          base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
              color: '#aab7c4'
            }
          },
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
          }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
          } else {
            displayError.textContent = '';
          }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {            
          event.preventDefault();

          stripe.createToken(card).then(function(result) {
            if (result.error) {
              // Inform the user if there was an error.
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              // Send the token to your server.
              stripeTokenHandler(result.token);
            }
          });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
          // Insert the token ID into the form so it gets submitted to the server
          var form = document.getElementById('payment-form');
          var hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'stripeToken');
          hiddenInput.setAttribute('value', token.id);
          form.appendChild(hiddenInput);

          // Submit the form
          form.submit();
        }
</script>
{% endblock %}