{% extends 'base.html' %}
{% load widget_tweaks %}
{% block message %}
{% include 'message.html' %}
{% endblock %}
{% block content %}
<div class="cancel-subscription-container">
    <form action="{% url 'payments:change-billing-cycle' plan_obj.id %}"  method="POST" enctype="multipart/form-data" id="change_billing_cycle" class="col-sm-12">
        {% csrf_token %}
        <h4>Current plan: {{plan_obj.plans.plan_type}}</h4>
        <h4>Current Billing cycle: {{plan_obj.billing_type}}</h4>
        <input type="hidden" name="change_cycle" value="{{change_cycle}}">
        <p><label for="cycles"><b> Change Billing Cycle:  </b></label> {{change_cycle}}</p>
        <p><b>Change Billing Detail: </b>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laborbillinge et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        {% if refundable_amount %}
            <input type="hidden" name="refundable_amount" value="{{refundable_amount}}">
            <p><b>Refundable Amount:</b><span class="refunded-price"> {{refundable_amount}} </span></p>
        {% endif %}
        {% if payable_amount %}
            <input type="hidden" name="payable_amount" value="{{payable_amount}}">
            <p><b>Payable Amount:</b><span class="refunded-price"> {{payable_amount}} </span></p>
            {% if paypal_payment %}
                <div class="form-feild">
                    <div id="paypal-button-container">
                        <!-- A Paypal Element will be inserted here. -->
                    </div>
                </div>
                <input type="hidden" class="capture_id" name="capture_id" value="">
            {% endif %}
        {% endif %}
        <p><b>Next billing date:</b><span>12 Jun 2020</span></p>
        <div class="pull-left submit-buttons" style="padding-top: 26px;">
            <a href="{% url 'authentication:dashboard' %}" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Change current Billing Cycle</button>
        </div>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://www.paypal.com/sdk/js?client-id={{paypal_key}}&currency=USD"></script>
<script type="text/javascript">
    if ({{paypal_payment}}){
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            // Set up the transaction
            createOrder: function(data, actions) {
                $(".submit-buttons").hide()
                var subs_amt = parseFloat($(".payable_amount").val())
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: subs_amt
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                console.log("==data==", data);
                console.log("==actions==", actions);
                approve_res = actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    console.log('Transaction completed by ' + details.payer.name.given_name + '!');
                    if(details.status == "COMPLETED"){
                        var capture_id = details.id;
                        $(".capture_id").val(capture_id);
                        $("#change_billing_cycle").submit()
                    }
                });
                res = actions.order.capture();
                return approve_res
            }

        }).render('#paypal-button-container');
    }
</script>
{% endblock %}
